@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #222222;
  --second-color: whitesmoke;
}

li {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: whitesmoke;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 5em;
}

.navbar {
  display: flex;
  background-color: var(--main-color);
  justify-content: space-between;
  height: 4em;
  width: 100%;
  align-items: center;
  padding: 0 0.5em;
  position: fixed;
  z-index: 2;
}

.navbar .name {
  font-size: 1.25em;
}

.navbar .links {
  display: flex;
  list-style: none;
  height: 4em;
}

.navbar .links li {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  height: 100%;
}

.navbar .links li:hover {
  cursor: pointer;
  background-color: #5555;
}

.hero-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.carrusel-image {
  opacity: 0.85;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#experience {
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.cards-tittle {
  display: flex;
  color: #222222;
  margin: 1em 0em;
  justify-content: center;
  font-size: 2em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  height: 28em;
  width: 20em;
  margin: 2em 4em;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: #333333;
  padding: 1em;
  text-align: justify;
}

.card-text {
  text-align: center;
}

.card-text i {
  font-size: 1.5em;
}

.card-image {
  height: 50%;
  padding: 1em;
}

.card-button {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-light {
  transition-duration: 0.4s;
  border-radius: 2px;
  border: 2px solid #333333;
  color: #333333;
  padding: 0.5em;
}

.button-light:hover {
  background-color: #333333; /* Green */
  color: white;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.Sobre-mi {
  display: flex;
  margin-top: 0;
  background-color: #333333;
  color: #fff;
  padding: 0.5em;
  width: 80%;
}
.box-shadow {
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
}
.dualcontainer {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  margin: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

.container-right {
  padding: 1em 2em;
  width: 60%;
  background: #333333;
  margin-left: 3em;
  margin-right: 0.25em;
}

.container-right h3 {
  font-size: 1.7em;
  text-align: center;
}

.container-left {
  display: flex;
  padding: 1em 2em;
  width: 40%;
  background: #ffffff;
  margin-left: 0.25em;
  margin-right: 3em;
  justify-content: center;
}
.second {
  margin-top: 0em;
}

.container-right-second {
  padding: 1em 2em;
  width: 40%;
  background: #ffffff;
  margin-left: 3em;
  margin-right: 0.25em;
}

.container-left-second {
  padding: 1em 2em;
  width: 60%;
  background: #333333;
  margin-left: 0.25em;
  margin-right: 3em;
}
.info {
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

.text-container {
  padding: 0em 1em;
  width: 50%;
  text-align: justify;
}

.box-skills {
  display: flex;
  height: 25em;
  width: 100%;
}

.box-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 50%;

  margin-right: 3em;
  margin-left: 0.25em;
}

.box-left {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 50%;
  margin-left: 3em;
  margin-right: 0.25em;
}

.hcard {
  margin: 0.5em;
  background-color: #ffffff;
  padding: 1em;
  width: 40rem;
  height: 5rem;
  color: #333333;
  font-size: 1.5em;
}

.hcard:hover {
  transform: scale(0.97, 0.97);
}

.hcard i {
  font-size: 1.1em;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.grafico {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primero {
  height: 4rem;
  width: 25rem;
  background-color: #333333;
  margin: 1rem;
}

.segundo {
  height: 4rem;
  width: 18rem;
  background-color: #333333;
  margin: 1rem;
}

.tercero {
  height: 4rem;
  width: 13rem;
  background-color: #333333;
  margin: 1rem;
}

.cuarto {
  height: 4rem;
  width: 10rem;
  background-color: #333333;
  margin: 1rem;
}
